@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: none;
  --time: 16s;
  --width: 1400px;
  --quantity: 2;
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bdr {
  border: 1px solid red;
}
